<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tlh.electricsystem.desk">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".DeskMainActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.DeskPatrolPlanActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.DeskPatrolContentActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.DeskPatrolCompleteActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.DeskPatrolProcessActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.DeskPatrolDetailActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.OperationTicketListActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.OperationTicketDetailActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.OperationTicketProcessActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.WorkTicketListActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.WorkTicketDetailActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.WorkTicketProcessActivity" android:screenOrientation="portrait" />

    </application>

</manifest>