<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tlh.electricsystem.desk">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".DeskMainActivity"/>
        <activity android:name=".activity.DeskPatrolPlanActivity"/>
        <activity android:name=".activity.DeskPatrolContentActivity"/>
        <activity android:name=".activity.DeskPatrolCompleteActivity"/>
        <activity android:name=".activity.DeskPatrolProcessActivity"/>
        <activity android:name=".activity.DeskPatrolDetailActivity"/>
        <activity android:name=".activity.OperationTicketListActivity"/>
        <activity android:name=".activity.OperationTicketDetailActivity"/>
        <activity android:name=".activity.WorkTicketListActivity"/>

    </application>

</manifest>